<div>
  <h2 class="text">All Files in HDFS</h2>
  <ul>
    <li *ngFor="let file of files" (click)="showFileInfo(file)">
      {{ file.title }}
    </li>
  </ul>

  <div *ngIf="selectedFile">
    <h3>File Info</h3>
    <p><strong>Title:</strong> {{ selectedFile.title }}</p>
    <p><strong>File Name:</strong> {{ selectedFile.fileName }}</p>
    <p><strong>File Path:</strong> {{ selectedFile.filePath }}</p>
    <p><strong>Authors:</strong> {{ selectedFile.authors.join(', ') }}</p>
    <p><strong>File Size:</strong> {{ selectedFile.fileSize }} bytes</p>
    <button (click)="downloadFile(selectedFile.filePath)">Download</button>
  </div>

  <div class="button-container">
  <button class="button" (click)="navigateToUpload()">Upload Your Files</button>
  <button class="button" routerLink="/"> Go back to main page</button>
  </div>
</div>

